/**
* Base Firefox OS CSS
* This CSS file setup the basic Firefox OS Style guidelines
* This defines things like buttons, headers, and base font size/color/family
* It does NOT application define layout.
**/
/*
  This file is used to change the CSS sizes of the Gaia UI.

  It's usefulness will be reduced to virtually none once the platform part of
  https://bugzilla.mozilla.org/show_bug.cgi?id=838505 is landed and Gecko correctly reflect
  the device dpi and device pixel ratio to web content.
*/


/*
  WVGA => QHD
  --
  Supported devices:
    * 480x800
  --
  UA default font size 16px.
  62.5% = 10px (base device)
  62.5% * 1.5 (dppx) = ~94% (93.75%)
*/
/*Portrait*//*
@media all and (min-device-width: 480px) and (max-device-width: 540px) and (max-device-aspect-ratio: 1/1) {
    html { font-size: 94%!important; }
}

/*Landscape*//*
@media all and (min-device-width: 800px) and (max-device-width: 960px) and (min-device-aspect-ratio: 1/1) {
    html { font-size: 94%!important; }
}


/*
  QHD => HD
  --
  Supported devices:
    * Geeksphone Peak: 540×960
  --
  UA default font size 16px.
  100% = 16px
  62.5% = 10px (base device)
  62.5% * 1.6875 (dppx) = ~105% (105,46875%)
*/

/*Portrait*/ /*
@media screen and (min-device-width: 540px) and (max-device-width: 720px) and (max-device-aspect-ratio: 1/1) {
    html { font-size: 105% !important; }
}

/*Landscape*//*
@media all and (min-device-width: 960px) and (max-device-width: 1280px) and (min-device-aspect-ratio: 1/1) {
    html { font-size: 105%!important; }
}*/






/* reset.css */
@import url(headers.css);
@import url(input_areas.css);
@import url(drawer.css);
@import url(lists.css);

@media screen and (min-device-width: 540px) and (max-device-width: 720px) and (max-device-aspect-ratio: 1/1) {
    html { font-size: 105% !important; }
}


/* Colors and the rest of appearance properties are defined in this file.
   We've added a few sample properties to get you started */

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: #F4F4F4;
}



h1 {
    font-size: 1.4rem;
    color: #fff;
    /*padding: 0.75em 0.5em*/
    text-shadow: 2px 2px 1px #111;
    font-weight: normal;
}

section {
    width: 100%;
    height: 100%;
    overflow: hidden;
}



#content {
    border-top: 1px solid #993;
    padding: 1rem 0.5rem;
}

p {
    margin: 1rem 0;
}

button {
    height: 3.8rem;
    margin: 0 0 1rem;
    padding: 0 1.5rem;
    background: #fafafa;
    border: 0.1rem solid #a6a6a6;
    border-radius: 0.2rem;
    font-size: 1.6rem;
    line-height: 3.8rem;
    color: #333;
    text-align: center;
    text-shadow: 0.1rem 0.1rem 0 rgba(255,255,255,0.3);
    text-decoration: none;
    outline: none;
}