
.idea/.name

.idea/encodings.xml

.idea/ffos-otp-auth.iml

.idea/misc.xml

.idea/modules.xml

.idea/scopes/scope_settings.xml

.idea/vcs.xml

.idea/workspace.xml

.DS_Store

css/switches/index.html

css/switches/index.html
